.friend img {
    border-radius: 50%;
}

#friends, .friend, #filters {
    display: flex;
    justify-content: space-around;
}

.friend {
    align-items: center;
    justify-content: space-between;
}

/*TODO DOESN'T WORK*/
/*
.add-item .remove-item {
    margin-left: 10px
}*/
