.friend img {
    border-radius: 50%;
}

.container, .friends-container, #vk-friends, #vk-friends-saved, .friend {
    display: flex;
}

.container {
    justify-content: center;
}

.friend {
    justify-content: space-around;
}

.container, #vk-friends, #vk-friends-saved {
    flex-direction: column
}

.friends-container {
    flex-direction: row;
}

.friend {
    align-items: center;
    justify-content: space-between;
}

.drop-zone {
    width: 100%;
    height: 100%;
}